<div class="day-container">
  <span class="date">
    01-01-2019
  </span>
  <div class="data-box">
    <img src="https://www.metaweather.com/static/img/weather/sn.svg" alt="" class="day-img"/>
    <div class="temp">
      <span class="max-temp">18º</span>
      <span class="min-temp">8º</span>
    </div>
  </div>
  <div class="subtitle-box">
    <span class="subtitle-bold">Precipitaciones:</span>
    <span class="subtitle-data">15%</span>
  </div>
  <div class="subtitle-box">
    <span class="subtitle-bold">Humedad:</span>
    <span class="subtitle-data">73%</span>
  </div>
  <div class="subtitle-box">
    <span class="subtitle-bold">Viento:</span>
    <span class="subtitle-data">6 km/h</span>
  </div>
</div>
