.main{
  display: flex;
  flex-direction: column;
}

.dropdown{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.main-cities{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.picker{
  margin-left: 4px;
  margin-right: 16px;
}
