<div class="card-box">
  <div class="headers">
    <div class="titles">
      <span class="city-name">{{time.title}}</span>
      <span class="city-zone">{{time.timezone}}</span>
    </div>
  </div>
  <div class="days-box">
    <div class="daySelected" *ngIf="dateSelected">
      <h4>Dia seleccionado</h4>
      <app-weather-day [day]="dateSelected"></app-weather-day>
    </div>
    <app-weather-day *ngFor="let day of time.consolidated_weather" [day]="day"></app-weather-day>
  </div>
</div>
<hr />
